<footer>
    <!-- {%- include social.html -%} -->
    <!-- <a class="typical-link" href="{{ "/feed.xml" | relative_url }}">subscribe via RSS</a> -->
    <svg class="svg-icon"><use xlink:href="{{ '/assets/icons/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> 
    <a class="typical-link" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">{{ site.twitter_username| escape }}</a>
    <svg class="svg-icon"><use xlink:href="{{ '/assets/icons/minima-social-icons.svg#github' | relative_url }}"></use></svg>
    <a class="typical-link" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">{{ site.github_username| escape }}</a>
    <a class="typical-link" style="margin-left: 2em;" href="{{ "/about" | relative_url }}">about</a> 
    <p>copyright ( ͡° ͜ʖ ͡°) 2019 devclave</p>
</footer>